.idea/
*.iml
*.dex
*.apk
*.ap_
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
vin/
gen/
out/
*.jks
gen-external-apklibs
.externalNativeBuild
